img {
  width: 100%;
  height: auto;
}

body {
  color: green;
}

p {
  font-family: fantasy;
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
