img {
  width: 100%;
  height: auto;
}

body {
  color: green;
  background-color: lightblue;
}

p {
  font-family: fantasy;
  font-size: 40px;
}

ul {
  list-style-type: disc;
  border-radius: 24px;
  margin: 0;
  padding: 0;
}

a {
  text-align: center;
}
