* {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: medium;
    color: black;
}

body {
    background-color: #333; /* Dark background color */
    color:mediumseagreen; /* Light text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #fff; /* Light color for links */
}

header {
    background-color: #222; /* Dark background color for header */
    padding: 20px;
    text-align: center;
}

.card-title {
    color: darkorange;
    background-color: #222;
    border-radius: 4px 10px;
    text-align: center;

}

.card-text {
    font-size: 16px;
}
#footer {
    color: black;
}
