* {
    margin: 0px;
    padding: 0px;
}
.game_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.python_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: medium;
    color: rgb(54, 56, 56);
}

.lead.text-center {
    color: whitesmoke;
    padding-left: 20%;
    padding-right: 20%;
}

body {
    background-color: #333; /* Dark background color */
    color:linen; /* Light text color */
    font-family: Arial, sans-serif;
}

a {
    color: #fff; /* Light color for links */
}

header {
    background-color: #222; /* Dark background color for header */
    padding: 20px;
    text-align: center;
}
.card {
    width:377px;
    border: solid 2px darkorange;
    box-shadow: 10px 8px #222;

}
.card-title {
    color: darkorange;
    background-color: #222;
    border-radius: 4px 10px;
    text-align: center;
    width: 200px;
}

.card-text {
    font-size: 16px;
}
#footer {
    color: darkcyan;
}
